{% extends "base.html" %}

{% block title %}Editar Usuario{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-card">
        <h2 class="form-title">Editar Usuario</h2>

        <form action="{{ url_for('usuario.edit', id=usuario.id) }}" method="POST" class="cliente-form" enctype="multipart/form-data">

            <div class="input-group mb-3">
                <label for="nombre" class="form-label">Nombre completo</label>
                <input type="text" class="form-input" name="nombre" value="{{usuario.nombre}}" required>
            </div>

            <div class="input-group mb-3">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="email" class="form-input" name="username" value="{{usuario.username}}" required>
            </div>

            <div class="input-group mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-input" name="password" required>
            </div>

            <div class="input-group mb-3">
                <label for="rol" class="form-label">Rol</label>
                <select name="rol" class="form-input" required>
                    <option value="Administrador" {% if usuario.rol=='Administrador' %}selected{% endif %}>Administrador</option>
                    <option value="Personal operativo" {% if usuario.rol=='Personal operativo' %}selected{% endif %}>Personal operativo</option>
                </select>
            </div>

            <button type="submit" class="btn-guardar">Actualizar</button>
        </form>
    </div>
</div>
{% endblock %}